@charset "utf-8";

	body{
		background:url("../background.jpg") no-repeat fixed center;
		background-size:cover;
		text-align:center;
		bgproperties: fixed;
	}
	@media   (max-width: 399px){
		#table2{
		}
		#cen{
		text-align:center;
		font-size:7vw;
		}
		#main{
		display:none;
		}
		#main2{
		background-color:#000;
		margin-top:10vh;
		}
		#main3{
		background-color:#000;
		margin-top:1vh;
		}
		#keyrow{
		display:none;
		}
		#cen{
			margin-top:2vh;
			margin-bottom:2vh;
		}
		.input{
			width:80vw;
			height:5vh;
			font-size:6vw;
		}
		#tablebar{
		background-image:url(../table.png);
		height:8vh;
		background-repeat: no-repeat;
		background-size:cover;
		color:#F60;
		font-weight:bold;
		font-size:10vw;
		}
		#butt{
		margin-bottom:2%;
		}
		#submitrow{
		 width:100%;
		}
		.tablecontent{
		background-color:#FFF;
		text-align:center;
		}
		.title{
		text-align:left;
		margin-left:6vw;
		margin-top:2vh;
		font-size:7.5vw;
		}
		
		#right{
		width:75%;
		}
		#left{
		width:35%;
		}
		#table {
		width:100%;
		height:100%;
		text-align:center;
		}
		#table2 {
		width:100%;
		margin-top:5vh;
		font-size:6vw;
		height:20vh;
		background-color:rgb(255, 255, 255);
		}
	}
	@media  (min-width: 400px) and (max-width: 799px) {
	#main2{
		display:none;
		}
	#right{
		width:75%;
	}
	#left{
		width:35%;
	}
	#cen{
		text-align:center;
		font-size:4vw;
	}
	#tablebar{
		background-image:url(../table.png);
		height:6vh;
		background-repeat: no-repeat;
		background-size:cover;
		color:#F60;
		font-weight:bold;
		font-size:4vw;
	}
	#butt{
		margin-bottom:2%;
	}
	#submitrow{
		 width:100%;
	}
	.tablecontent{
		background-color:#FFF;
		text-align:right;
		font-size:4vw;
	}
	#keyrow{
		display:none;
	}
	#tablebar{
		background-image:url(../table.png);
		background-repeat: no-repeat;
		background-size:cover;
		color:#F60;
		height:15vh;
		font-weight:bold;
		font-size:5vw;
	}
	#main{
		margin-top:4vh;
		margin-left:3vw;
		margin-right:3vw;
		background-color:#000;
	}
	#main3{
		margin-top:4vh;
		margin-left:3vw;
		margin-right:3vw;
		background-color:#000;
	}
	#key{
		width:5vh;
	}
	#table {
		width:100%;
		height:100%;
		text-align:center;
	}
	#table2 {
		width:100%;
		margin-top:5vh;
		font-size:3vw;
		height:20vh;
		background-color:rgb(255, 255, 255);
	}
	#key{
		display:none;
	}
	.input{
	height:9vh;
	margin-left:5%;
	margin-right:5%;
	margin-top:2%;
	margin-bottom:2%;
	width:90%;
	font-size:4vw;
	}
	#mob{
		display:none;
	}
	}
	@media (min-width: 800px) {
	#cen{
		text-align:center;
		font-size:2vw;
	}
	#right{
		width:60%;
	}
	#left{
		width:40%;
	}
	#tablebar{
		background-image:url(../table.png);
		height:6vh;
		background-repeat: no-repeat;
		background-size:cover;
		color:#F60;
		font-weight:bold;
		font-size:2.5vw;
	}
	.tablecontent{
		background-color:#FFF;
		text-align:right;
		font-size:2vw;
		height:9vh;
	}
	#main{
		margin-top:20vh;
		margin-left:25vw;
		margin-right:25vw;
		background-color:#000;
	}
	#main2{
		display:none;
	}
	#main3{
		margin-top:10vh;
		margin-left:25vw;
		margin-right:25vw;
		background-color:#000;
	}
	#table {
		width:100%;
		height:100%;
		text-align:center;
	}
	#table2 {
		width:100%;
		border:dotted;
		margin-top:10vh;
		height:20vh;
		border-color:#000;
		background-color:#A8EDF0;
		font-size:2vw;
	}
	#key{
		width:20vh;
	}
	.input{
	margin-left:5%
	height:5vh;
	font-size:2vw;
	width:95%;
	}
}
